<!--
  Generated template for the DosenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dosen Pembimbing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-list>
    <ion-item-divider>
      Daftar Dosen
    </ion-item-divider>
    <ion-col col-6 col-sm *ngFor="let item of items; let idx =  index">
      <ion-card>
        <ion-card-content>
          <img src="assets/img/no-photo.gif" onerror="this.src='assets/img/no-image-community.png'" style="border-radius:60%;width: 8em; height: 8em;margin-left:15px;"
          />
          <ion-label *ngIf="setRoleid == 2"> Pembimbing {{idx+1}}</ion-label>
          <p>NIDN : {{item?.nidn}}</p>
          <p>Nama : {{item?.namadsn}}</p>
          <p>Telephone : {{item?.telephone}}</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-list>
</ion-content>